<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All In One Video & Audio Downloader | DownloadX</title>
    {% block head %} {% endblock %}
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
    <header>
        <nav id="navbar">
            <div id="navbar_container">
                <video autoplay muted height="60px">
                    <source src="/static/src/logo/logo.mp4" type="video/mp4">
                </video>
                <button id="navbar_toggle" class="toggle" type="button" aria-controls="navbar_menu"
                    aria-label="Toggle menu" aria-expanded="false" role="button">
                    <span class="icon_bar"></span>
                    <span class="icon_bar"></span>
                    <span class="icon_bar"></span>
                </button>
                <div id="navbar_menu" aria-labelledby="navbar_toggle">
                    <div id="navbar_items_container">
                        <details>
                            <summary class="navbar_item">
                                <span>About Us</span>
                                <span class="details_overlay"></span>
                            </summary>
                            <div class="details_modal">
                                <div class="details_modal_header">
                                    <div class="details_modal_title">About us</div>
                                    <button class="details_modal_close toggle" type="button"
                                        title="details modal close">
                                        <span class="icon_bar"></span>
                                        <span class="icon_bar"></span>
                                    </button>
                                </div>
                                <div class="details_modal_content">
                                    Welcome to DownloadX!
                                    <br><br>
                                    DownloadX is your all in one video and audio downloader platform that provides
                                    an easy and hassle-free way to download your favorite videos and audios. We
                                    understand the importance of having a reliable and efficient tool to save videos and
                                    audios from various websites, that's why we created DownloadX.
                                    <br><br>
                                    Our mission is to offer a user-friendly interface with powerful capabilities,
                                    ensuring that you can access and save multimedia content from a wide range of
                                    platforms. With DownloadX, you can now enjoy your favorite videos and audios
                                    offline, anytime and anywhere, without any limitations.
                                    <br><br>
                                    DownloadX is completely free to use, without any hidden charges or premium
                                    subscriptions. We want everyone to have access to a high-quality downloader.
                                    <br><br>
                                    Our website has been designed with simplicity in mind. You don't need to be a
                                    tech-savvy individual to use DownloadX. Just copy and paste video or audio URL you
                                    want to download, and let our powerful tool take care of the rest.
                                    <br><br>
                                    As a responsible service provider, we do not host any downloaded material on our
                                    servers. Our downloader functions as a bridge between the source website and your
                                    device, ensuring a direct and secure transfer of the content you wish to download.
                                    <br><br>
                                    DownloadX has gone above and beyond to support a vast range of video and audio
                                    websites. While it is impossible to list all 1200+ supported sites here, we
                                    encourage you to simply paste video or audio URL you want to download. Our
                                    intelligent system will determine if the website is supported by DownloadX; if so,
                                    you can start downloading your content right away.
                                    <br><br>
                                    Thank you for choosing DownloadX as your video and audio downloader. We are
                                    continuously working to expand our supported websites and enhance your downloading
                                    experience. If you have any suggestions or feedback, please don't hesitate to reach
                                    out to us.
                                    <br><br>
                                    Start exploring DownloadX today and enjoy the freedom to download videos and audios
                                    from your favorite websites effortlessly!
                                </div>
                            </div>
                        </details>
                        <details>
                            <summary class="navbar_item">
                                <span>Privacy Policy</span>
                                <span class="details_overlay"></span>
                            </summary>
                            <div class="details_modal">
                                <div class="details_modal_header">
                                    <div class="details_modal_title">Privacy Policy</div>
                                    <button class="details_modal_close toggle" type="button"
                                        title="details modal close">
                                        <span class="icon_bar"></span>
                                        <span class="icon_bar"></span>
                                    </button>
                                </div>
                                <div class="details_modal_content">
                                    At DownloadX, we understand and respect your privacy rights. This privacy policy
                                    explains how we collect, use, and protect any personal information you may provide
                                    when using our video and audio downloader website. Please read this policy carefully
                                    to understand our practices regarding your personal information.
                                    <br><br>
                                    Information we collect:
                                    <br>
                                    DownloadX is committed to ensuring the protection of your privacy. Therefore, we do
                                    not collect any personal information from you while using our website. You do not
                                    need to create an account or provide any personal information such as your name,
                                    email address, or contact information to use our website.
                                    <br><br>
                                    Cookies and tracking technologies:
                                    <br>
                                    We do not use cookies or any other tracking technologies on our website. We have
                                    designed our website to provide a simple and anonymous user experience.
                                    <br><br>
                                    Third-party websites:
                                    <br>
                                    Our website may contain links to third-party websites, such as video and audio
                                    hosting platforms or social media websites. Please note that this privacy policy
                                    only applies to our website. We are not responsible for the privacy practices or
                                    content of any third-party websites. We encourage you to review the privacy policies
                                    of those websites before providing any personal information.
                                    <br><br>
                                    Security:
                                    <br>
                                    We take reasonable precautions to protect your personal information. However, no
                                    method of transmission over the internet or electronic storage is 100% secure. While
                                    we strive to use commercially acceptable means to protect your personal information,
                                    we cannot guarantee its absolute security.
                                    <br><br>
                                    Changes to this privacy policy:
                                    <br>
                                    DownloadX reserves the right to modify this privacy policy at any time without prior
                                    notice. Any changes made will be effective immediately upon posting the updated
                                    privacy policy on our website. We encourage you to review this privacy policy
                                    periodically for any updates or changes.
                                    <br><br>
                                    Contact us:
                                    <br>
                                    If you have any questions or concerns about this privacy policy or our practices,
                                    please contact us. We will make every effort to address your inquiries in a timely
                                    and satisfactory manner.
                                    <br><br>
                                    You must accept this privacy policy in order to use the download website. If you do
                                    not agree with this policy, please do not use our website.
                                </div>
                            </div>
                        </details>
                        <details>
                            <summary class="navbar_item">
                                <span>Terms Of Service</span>
                                <span class="details_overlay"></span>
                            </summary>
                            <div class="details_modal">
                                <div class="details_modal_header">
                                    <div class="details_modal_title">Terms Of Service</div>
                                    <button class="details_modal_close toggle" type="button"
                                        title="details modal close">
                                        <span class="icon_bar"></span>
                                        <span class="icon_bar"></span>
                                    </button>
                                </div>
                                <div class="details_modal_content">
                                    These terms of service govern your access to and use of the DownloadX website and
                                    its services. Please read this carefully before using our platform.
                                    <br><br>
                                    Acceptance of terms
                                    <br>
                                    You acknowledge that you have read, understand and agree to these terms by accessing
                                    and using the website and services. If you do not agree to these terms, please do
                                    not use our website and services.
                                    <br><br>
                                    Description of services
                                    <br>
                                    DownloadX provides a platform that allows users to download video and audio content
                                    from various websites. Our services are intended for personal, non-commercial use
                                    only. You must comply with all applicable laws and regulations while using our
                                    services.
                                    <br><br>
                                    User responsibilities
                                    <br>
                                    i. Account creation: You do not need to create an account or provide any
                                    personal information such as your name, email address, or contact information to use
                                    our website.
                                    <br><br>
                                    ii. Prohibited uses: You must not use our website and services for any illegal or
                                    unauthorized purpose. You must not violate any applicable laws, infringe the rights
                                    of others, or engage in any activity that could harm our website or services.
                                    <br><br>
                                    iii. Content restrictions: You understand and agree that you are solely responsible
                                    for the content you download using our services. You must not download, store, or
                                    distribute copyrighted material unless you have the necessary rights or permissions
                                    to do so.
                                    <br><br>
                                    Intellectual property rights
                                    <br>
                                    DownloadX and its licensors retain all intellectual property rights in the website
                                    and its services. You may not copy, modify, distribute, or create derivative works
                                    based on our platform without our consent.
                                    <br><br>
                                    Disclaimer
                                    <br>
                                    DownloadX provides the services without any guarantees. We do not guarantee that our
                                    services will be uninterrupted, error-free, or free from viruses or harmful
                                    components.
                                    <br><br>
                                    Termination
                                    <br>
                                    DownloadX reserves the right, at its sole discretion, to suspend or terminate your
                                    access to the website and services at any time and for any reason without prior
                                    notice.
                                    <br><br>
                                    Modifications to terms
                                    <br>
                                    We may update or modify these terms from time to time. It is your responsibility to
                                    review the terms periodically. Continued use of our website and services after any
                                    modifications constitutes your acceptance of the updated terms.
                                    <br><br>
                                    Contact us
                                    <br>
                                    If you have any questions or concerns about these terms or our services, please
                                    contact us.
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% block main %} {% endblock %}
    <footer>
        <button id="share_btn" type="button" title="share button"><span id="share_img"></span></button>
        Copyright &#169; <span id="year"></span> by DownloadX. All rights reserved.
    </footer>
    <script src="/static/js/base.js"></script>
    {% block end %} {% endblock %}
</body>

</html>